# Latihan 4

In [2]:
import pandas as pd
import numpy as np

In [16]:
data= pd.read_csv("weatherAUS.csv")
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [17]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [18]:
#descriptive statistics
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [19]:
print(type(data['Humidity3pm']))

<class 'pandas.core.series.Series'>

In [23]:
data['WindSpeed3pm']= data['WindSpeed3pm'].fillna((data['WindSpeed3pm'].mean()))
data['MinTemp']= data['MinTemp'].fillna((data['MinTemp'].mean()))
data['MaxTemp']= data['MaxTemp'].fillna((data['MaxTemp'].mean()))
data['Rainfall']= data['Rainfall'].fillna((data['Rainfall'].mean()))
data['Evaporation']= data['Evaporation'].fillna((data['Evaporation'].mean()))
data['Sunshine']= data['Sunshine'].fillna((data['Sunshine'].mean()))
data['WindSpeed9am']= data['WindSpeed9am'].fillna((data['WindSpeed9am'].mean()))
data['WindGustSpeed']= data['WindGustSpeed'].fillna((data['WindGustSpeed'].mean()))
data['Humidity9am']= data['Humidity9am'].fillna((data['Humidity9am'].mean()))
data['Humidity3pm']= data['Humidity3pm'].fillna((data['Humidity3pm'].mean()))
data['Pressure9am']= data['Pressure9am'].fillna((data['Pressure9am'].mean()))
data['Pressure3pm']= data['Pressure3pm'].fillna((data['Pressure3pm'].mean()))
data['Cloud9am']= data['Cloud9am'].fillna((data['Cloud9am'].mean()))
data['Cloud3pm']= data['Cloud3pm'].fillna((data['Cloud3pm'].mean()))
data['Temp9am']= data['Temp9am'].fillna((data['Temp9am'].mean()))
data['Temp3pm']= data['Temp3pm'].fillna((data['Temp3pm'].mean()))
data['RISK_MM']= data['RISK_MM'].fillna((data['RISK_MM'].mean()))

In [24]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [27]:
from scipy.stats import mode
data['WindGustDir'].mode()

0    W
dtype: object

In [28]:
data['WindDir9am'].mode()

0    N
dtype: object

In [29]:
data['WindDir3pm'].mode()

0    SE
dtype: object

In [31]:
data['RainToday'].mode()

0    No
dtype: object

In [32]:
data['RainTomorrow'].mode()

0    No
dtype: object

In [36]:
data['WindGustDir']= data['WindGustDir'].fillna(data['WindGustDir']).dropna().mode()[0]
data['WindDir9am']= data['WindDir9am'].fillna(data['WindDir9am']).dropna().mode()[0]
data['WindDir3pm']= data['WindDir3pm'].fillna(data['WindDir3pm']).dropna().mode()[0]
data['RainToday']= data['RainToday'].fillna(data['RainToday']).dropna().mode()[0]
data['RainTomorrow']= data['RainTomorrow'].fillna(data['RainTomorrow']).dropna().mode()[0]
np.sum(data.isnull())

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [38]:
# outlier inspection
from scipy import stats
z= np.abs(stats.zscore(data._get_numeric_data()))
print (z)
data2= data[(z<3).all(axis=1)]
print(data2.shape)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02 2.81630573e-01]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01 2.81630573e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01 2.81630573e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01 2.81630573e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01 2.81630573e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01 4.27019439e-14]]
(134753, 24)

In [40]:
print(data.shape)

(145460, 24)

In [50]:
#mengambil sebagian data
x= data2.iloc[0:134753,0:23]
x.tail()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
145455,2.8,23.400000,0.0,5.468232,7.611178,31.00000,13.0,11.0,51.0,24.0,1024.6,1020.3,4.447461,4.50993,10.1,22.4,No,0.000000,No
145456,3.6,25.300000,0.0,5.468232,7.611178,22.00000,13.0,9.0,56.0,21.0,1023.5,1019.1,4.447461,4.50993,10.9,24.5,No,0.000000,No
145457,5.4,26.900000,0.0,5.468232,7.611178,37.00000,9.0,9.0,53.0,24.0,1021.0,1016.8,4.447461,4.50993,12.5,26.1,No,0.000000,No
145458,7.8,27.000000,0.0,5.468232,7.611178,28.00000,13.0,7.0,51.0,24.0,1019.4,1016.5,3.000000,2.00000,15.1,26.0,No,0.000000,No
145459,14.9,23.221348,0.0,5.468232,7.611178,40.03523,17.0,17.0,62.0,36.0,1020.2,1017.9,8.000000,8.00000,15.0,20.9,No,2.360682,No

In [55]:
data2['RainToday'].replace({'No':0, 'Yes':1}, inplace= True)
data2['RainTomorrow'].replace({'No':0, 'Yes':1}, inplace= True)

In [57]:
data2.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,0,0.0,0
1,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,0,0.0,0
2,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,0,0.0,0
3,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,0,1.0,0
4,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,0,0.2,0

In [58]:
#normalization
from sklearn.preprocessing import normalize
datanorm= normalize(data2,norm='l2') 
datanorm= pd.DataFrame(datanorm) 
datanorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
134748,0.001934,0.016161,0.0,0.003777,0.005257,0.021410,0.008978,0.007597,0.035222,0.016575,0.707626,0.704656,0.003072,0.003115,0.006975,0.015470,0.0,0.000000,0.0
134749,0.002489,0.017492,0.0,0.003781,0.005262,0.015211,0.008988,0.006223,0.038718,0.014519,0.707643,0.704601,0.003075,0.003118,0.007536,0.016939,0.0,0.000000,0.0
134750,0.003742,0.018639,0.0,0.003789,0.005274,0.025637,0.006236,0.006236,0.036723,0.016629,0.707433,0.704523,0.003082,0.003125,0.008661,0.018084,0.0,0.000000,0.0
134751,0.005410,0.018728,0.0,0.003793,0.005279,0.019422,0.009017,0.004855,0.035376,0.016647,0.707095,0.705083,0.002081,0.001387,0.010474,0.018035,0.0,0.000000,0.0
134752,0.010317,0.016078,0.0,0.003786,0.005270,0.027720,0.011771,0.011771,0.042928,0.024926,0.706381,0.704789,0.005539,0.005539,0.010386,0.014471,0.0,0.001635,0.0

In [ ]:
# feature selection
from sklearn.feature_selection import SelectKBest, chi2, f_regression
y= data2.iloc[0:51,2]
selector= SelectKBest(chi2, k="all").fit(xx,y)
x_new= selector.transform(xx)
scores= selector.scores_
scores